.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17191f;
  height: 100px;
  padding: 2rem;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 0.7rem;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 0.4rem 0.8rem;
}

a {
  color: #fff;
  text-decoration: none;
}
